@mixin light-black {
    color: lighten(black, 35%);
}

@mixin grey-bg {
    background-color: darken($light-grey, 5%);
}

@mixin dark-grey-bg {
    background-color: darken($light-grey, 75%);
}

@mixin box-shadow {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

@mixin main__btn--display {
    border: none;
    border-radius: 50px;
    background: $gradient-color;
    color: white;
    font-size: 1rem;
    height: 50px;
    padding: 0 20px 0 20px;
    box-shadow: 17px 17px 33px #cecece, 
                -17px -17px 33px #ffffff;
}
@mixin main__btn-hover {
    filter: brightness(1.1);
    box-shadow: inset 0px 0px 20px 20px rgba(255,255,255,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
    transform:  translateY(-3px);
}

@mixin new-overlay {
    background-color: $mint;
    border-radius: 5px;
    color: darken($mint, 35%);
}

@mixin meal-bg {
    background-color: white;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 15px 15px 0;
}

@mixin heart-focus {
    background: linear-gradient(180deg,$color-primary 0%,$color-secondary 100%);
}