body {
    margin: 0;
    min-width: 375px;
}

ul {
    list-style-type: none;
}

.main__btn--bg {
    transition: 200ms ease-in;
    &:hover {
        @include main__btn-hover;
    }
}

.heart {
    position:relative;
    z-index:1;
    &:hover {
        @include heart-focus;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover .heart-bg {
        transform: scale(1);
        opacity: 1;
    }
}

.heart-bg{
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    @include heart-focus;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:0;
    transform: scale(0);
    transition:.3s ease;
} 

footer {
    color: white;
    @include dark-grey-bg;
    h5 {
        font-size: 1.2rem;
        font-weight: lighter;
        margin: 0;
        padding: 25px 0 20px 20px;
    }
    ul {
        line-height: 1.5rem;
        margin: 0;
        padding: 0 0 25px 20px;
    }
    i {
        width: 20px;
        padding-right: 10px;
    }
}
.footer__link {
    color: white;
    text-decoration: none;
    &:hover {
        border-bottom: 1px solid;
    }
}

