<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>A la française | Ohmyfood</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Shrikhand&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="nav">
        <a href="../index.html">
            <i class="fas fa-arrow-left"></i>
        </a>
        <a href="../index.html">
            <img src="../img/logo/ohmyfood@2x.svg" alt="logo de Ohmyfood" class="nav__logo">
        </a>    
    </header>
    
    <main class="rest__menu">
        <section class="restaurant">
            <img src="../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="Photo d'un plat du restaurant A la française" class="restaurant__img">
            <div class="restaurant__desc">
                <h1 class="restaurant__title">A la française</h1>
                <i class="far fa-heart fa-2x"></i>
            </div>
        </section>

        <section class="section">
            <h2>Entrées</h2>
            <hr>
            <section class="section__sub">
                <h3 class="meal">Tartare de poulpe acidulé</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Aux zestes d'orange</p>
                    <p class="price">25€</p>
                </div>    
            </section>
            <section class="section__sub">
                <h3 class="meal">Velouté de légumes d'antan</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Carotte, panais, topinambour</p>
                    <p class="price">35€</p>
                </div>    
            </section>
            <section class="section__sub">
                <h3 class="meal">Soupe à l'oignon</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Revisitée</p>
                    <p class="price">20€</p>
                </div>    
            </section>
        </section>

        <section class="section">
            <h2>Plats</h2>
            <hr>
            <section class="section__sub">
                <h3 class="meal">Coquilles Saint-Jacques</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Accompagnées d'une purée de panais</p>
                    <p class="price">40€</p>
                </div>    
            </section>
            <section class="section__sub">
                <h3 class="meal">Magret de canard</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Et parmentier de pommes de terre</p>
                    <p class="price">35€</p>
                </div>    
            </section>
            <section class="section__sub">
                <h3 class="meal">Pigeonneau d’Ille-et-Vilaine</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Sur son lit de gnocchis aux légumes</p>
                    <p class="price">44€</p>
                </div>    
            </section>
        </section>

        <section class="section">
            <h2>Desserts</h2>
            <hr>
            <section class="section__sub">
                <h3 class="meal">Pétales de violettes glacés</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Et purée de noisettes</p>
                    <p class="price">18€</p>
                </div>    
            </section>
            <section class="section__sub">
                <h3 class="meal">Fondant au chocolat</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Revisité</p>
                    <p class="price">22€</p>
                </div>    
            </section>
            <section class="section__sub">
                <h3 class="meal">Millefeuille croustillant</h3>
                <div class="section__sub__details">
                    <p class="meal__desc">Myrtilles et pâte d’amande</p>
                    <p class="price">23€</p>
                </div>    
            </section>
        </section>

        <button class="main__btn--bg order">Commander</button>
    </main>

    <footer>
        <h5>ohmyfood</h5>
        <ul>
            <li><i class="fas fa-utensils"></i><a href="#" class="footer__link">Proposer un restaurant</a></li>
            <li><i class="fas fa-hands-helping"></i><a href="#" class="footer__link">Devenir partenaire</a></li>
            <li><a href="#" class="footer__link">Mentions légales</a></li>
            <li><a href="mailto:#" class="footer__link">Contact</a></li>
        </ul>
    </footer>
</body>
</html>