<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Le délice des sens</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Shrikhand&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <header>
        <nav class="nav">
            <a href="index.html">
                <i class="fas fa-arrow-left"></i>
            </a>    
            <img src="./public/img/logo/ohmyfood@2x.svg" alt="logo de Ohmyfood" class="nav__logo">
        </nav>
        <img src="./public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="Photo d'un plat du restaurant Le délice des sens à Folie-Méricourt">
    </header>

    <main>
        <section class="main__title">
            <h1>Le délice des sens</h1>
            <button class="btn__heart">
                <i class="far fa-heart"></i>
            </button>
        </section>

        <section class="main__section">
            <h2>Entrées</h2>
            <hr>
            <section class="main__sub">
                <h3>Tartare de thon</h3>
                <div class="main__sub__details">
                    <p>Assaisonné au yuzu</p>
                    <p>25€</p>
                </div>    
            </section>
            <section class="main__sub">
                <h3>Bouchée de homard croustillant</h3>
                <div class="main__sub__details">
                    <p>Et sa farandole de petits légumes</p>
                    <p>35€</p>
                </div>    
            </section>
            <section class="main__sub">
                <h3>Velouté de cèpes</h3>
                <div class="main__sub__details">
                    <p>Aux truffes</p>
                    <p>20€</p>
                </div>    
            </section>
        </section>

        <section class="main__section">
            <h2>Plats</h2>
            <hr>
            <section class="main__sub">
                <h3>Poulet rôti aux herbes de Provence</h3>
                <div class="main__sub__details">
                    <p>Et sa crème de truffe</p>
                    <p>40€</p>
                </div>    
            </section>
            <section class="main__sub">
                <h3>Langouste rôtie</h3>
                <div class="main__sub__details">
                    <p>Et ses légumes de saison</p>
                    <p>35€</p>
                </div>    
            </section>
            <section class="main__sub">
                <h3>Côte de boeuf Angus</h3>
                <div class="main__sub__details">
                    <p>Et sa purée de panais</p>
                    <p>44€</p>
                </div>    
            </section>
        </section>

        <section class="main__section">
            <h2>Desserts</h2>
            <hr>
            <section class="main__sub">
                <h3>Farandole de desserts</h3>
                <div class="main__sub__details">
                    <p>Du chef</p>
                    <p>18€</p>
                </div>    
            </section>
            <section class="main__sub">
                <h3>Crème brulée</h3>
                <div class="main__sub__details">
                    <p>Revisitée</p>
                    <p>22€</p>
                </div>    
            </section>
            <section class="main__sub">
                <h3>Tiramisu</h3>
                <div class="main__sub__details">
                    <p>À la noisette</p>
                    <p>23€</p>
                </div>    
            </section>
        </section>

        <button class="main__btn--bg">Commander</button>
    </main>

    <footer>
        <h5>Ohmyfood</h5>
        <ul>
            <li><i class="fas fa-utensils"></i>Proposer un restaurant</li>
            <li><i class="fas fa-hands-helping"></i>Dévenir partenaire</li>
            <li>Mentions légales</li>
            <li><a href="mailto:#">Contact</a></li>
        </ul>
    </footer>
</body>
</html>