/*
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h6,
.restaurant__title {
    font-family: 'Shrikhand', cursive;
}