.nav,
main,
.restaurant {
    display: flex;
}

main {
    flex-direction: column;
    background-color: $light-grey; 
}

.nav {
    flex-direction: row;
    align-items: center;
    background-color: white;
    i {
        position: relative;
        right: 55px;
        color: black;
    }
}  

.restaurant {
    flex-direction: column;
    &__title {
        margin: 0;
        font-weight: bold;
    }
    &__desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    &__img {
        object-fit: cover;
        width: 375px;
    }
}