.nav,
body,
.restaurant,
.restautant__desc {
    display: flex;
}

body {
    flex-direction: column;
}

body {
    background-color: $light-grey;   
}

.nav {
    flex-direction: row;
    align-items: center;
    background-color: white;
    i {
        position: relative;
        right: 55px;
        color: black;
    }
}  

.restaurant {
    flex-direction: column;
    &__title {
        margin: 0;
    }
    &__desc {
        flex-direction: row;
    }
    &__img {
        object-fit: cover;
        width: 375px;
    }
}

