.nav,
main,
.restaurant {
    display: flex;
}

.rest__menu {
    flex-direction: column;
    background-color: $light-grey;
    padding-bottom: 40px;
}

.nav {
    flex-direction: row;
    align-items: center;
    background-color: white;
    i {
        position: relative;
        right: 55px;
        color: black;
    }
}  

.restaurant {
    flex-direction: column;
    width: 100%;
    &__title {
        margin: 0px;
        font-weight: bold;
        font-size: 1.7rem;
    }
    &__img {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    &__desc {
        position: absolute;
        left: 0;
        right: 0;
        top: 280px;
        display: flex;
        justify-content: space-between;
        padding: 30px 40px 20px 20px;
        align-items: center;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        background-color: $light-grey;
    }
}

.section {
    margin-left: 15px;
    h2 {
        margin-bottom: 0;
        font-size: 1.2rem;
        font-weight: lighter;
        text-transform: uppercase;
    }
    hr {
        margin: 5px 0 15px 0;
        border-style: solid;
        color: $color-tertiary;
        width: 13%;
    }
    &__sub {
        display: flex;
        flex-direction: column;
        padding: 10px;
        @include meal-bg;
        &__details {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        p {
            margin: 0;
        }
    }
}

.meal {
    margin: 0 0 5px 0;
    font-size: 1.2rem;
    &__desc{
        font-size: 15px;
    }
}

.price {
    margin: 0;
    padding-right: 15px;
    font-weight: bold;
}

.order {
    align-self: center;
    font-weight: bold;
    font-size: 1.1rem;
    width: 190px;
}

@media screen and (min-width: 768px) {
    .fa-arrow-left {
        position: relative;
        left: -150px;
    }
    .restaurant__desc,
    .section {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 1440px) {
    .restaurant__desc,
    .section {
        padding-left: 200px;
        padding-right: 200px;
    }
    footer h5 {
        padding-left: 50px;
    }
    footer ul {
        padding-left: 100px;
        padding-right: 100px;
    }
}